$basecolor: #faf3f5;

$primary: #dfccd6;
$primaryblack: #ece4e7;

$second: #8b186e;

//Container
$container: 1284px;
$container-fluid: 100%; 
$container-tablet: 95%; 
$container-mobile: 100%;

//parágrafo 
$paragraph-font: 1.8em;
$line: 1.5em;